@font-face {
  font-family: 'irsans';
   /* IE9 Compat Modes */
  src: url(../font/IranianSans.ttf) format('truetype'); /* IE6-IE8 */
      
}


*{
	margin: 0;
	padding: 0;
	direction: rtl;
	box-sizing: border-box;
	font-family: 'b yekan';
}
a{
	color: #000;
	text-decoration: none;
}
ul,li{
	list-style: none;
}
body{
	text-align: right;
}
.wrap{
	width: 75%;
	margin: 0 auto;
	/*background-color: #fff;*/
	overflow: hidden;
}


                                              /*inex.php style*/


                                              /*navigation style*/
                                              /*nav right menu*/

#nav{
	/*background-color: gray;*/
	overflow: hidden;

}
#nav .rightMenu{
	/*background-color: red;*/
	overflow: hidden;
	float: right;
}
#nav .rightMenu li{
	/*background-color: green;*/
	float: right;
}
#nav .rightMenu li a:first-child{
	padding-right: 10px;
}
#nav .rightMenu li a{
	display: block;
	padding: 10px 20px;
	font-size: 11pt;
	transition: .3s;
	/*background-color: blue;*/
}
#nav .rightMenu li a:hover{
	color: #fff;
}
                                                /*nav left menu*/
#nav .leftMenu{
	/*background-color: red;*/
	overflow: hidden;
	float: left;
}
#nav .leftMenu li{
	/*background-color: green;*/
	float: left;
}
#nav .leftMenu li a:last-child{
	padding-left: 10px;
}
#nav .leftMenu li a{
	display: block;
	padding: 10px 20px;
	font-size: 11pt;
	transition: .3s;
	/*background-color: blue;*/
}
#nav .leftMenu li a:hover{
	color: #fff;
}
                                              /*header style*/
#header{
	text-align: center;
	padding: 20px 0;
	background-color: #444;
	margin-bottom: 1%;
}
                                        /*Logo style*/
#logo{
	display: inline-block;
	background-color: transparent;
	border-radius: 2px;
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 10px 0;
	/*border: 1px solid #fff;*/
	text-align: center;
}
#logo .logo1{
	float: left;
	width: 94px;
	height: 97px;
	/*background-color: blue;*/
	border-radius: 2px;
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	margin-top: 3px;
	margin-left: 3px;
	border: 15px solid orange;
	border-right-width: 0;
	border-top-width: 0;
}
#logo .logo1 .logo2{
	float: left;
	width: 78px;
	height: 78px;
	border-radius: 2px;
	transform: rotate(0deg);
	margin-top: 2px;
	margin-left: 2px;
	border: 12px solid #fff;
	border-right-width: 0;
	border-top-width: 0;
}
#logo .logo1 .logo2 .logo3{
	float: left;
	width: 64px;
	height: 64px;
	border-radius: 2px;
	transform: rotate(0deg);
	margin-top: 0px;
	margin-left: 2px;
	border: 12px solid #ccc;
	border-bottom-width: 0;
}
#logo .logo1 .logo2 .logo3 p{
	transform: rotate(-90deg);
	color: #fff;
	/*background-color: red;*/
	margin-top: 7px;
	margin-right: -20px;
	/*margin-left: 10px;*/
	font-size: 18pt;
	font-weight: bold;
}
#header h3{
	font-size: 25pt;
}
#header form{
	position: relative;
	/*background-color: red;*/
	width: 50%;
	margin: 10px auto;
}
#header .search{
	width: 100%;
	border: none;
	height: 40px;
	padding: 10px;
	font-size: 12pt;
	color: #444;
	border-radius: 5px;
}
#header .search:focus{
	border: 1px solid blue;
}
#header .btnSearch{
	width: 12%;
	height: 100%;
	border: 0;
	position: absolute;
	left: 0;
	border-radius:  5px 0 0 5px;
	background-color: blue;
	cursor: pointer;
	transition: all 0.3s;
	color: #fff;

}
#header .btnSearch:hover{
	background-color: gray;

	}                                          /*main style*/
#main{
	/*background-color: green;*/
	overflow: hidden;
}

                               /*Nav Category Style*/
#navCategory{
	background-color: red;
	margin: 0 1% 1%;
	border-radius: 5px;
	overflow: hidden;

}
#navCategory ul.catMenu{
	/*background-color: blue;*/
	float: right;
	position: relative;
	border-radius: 5px;
}
#navCategory ul.catMenu li{
	/*background-color: gray;*/
}
#navCategory ul.catMenu li a{
	display: block;
	padding: 8px;
	transition: all .3s;
	/*background-color: green;*/
	/*border-radius: 5px;*/
}
#navCategory ul.catMenu li a:hover{
	color: #fff;
}
#navCategory ul.listCategory{
	background-color: #444;
	width: 200px;
}
#navCategory ul.socialMenu{
	/*background-color: blue;*/
	float: left;
	border-radius: 5px;
}
#navCategory ul.socialMenu li{
	/*background-color: gray;*/
	float: right;
}
#navCategory ul.socialMenu li a{
	display: block;
	padding: 8px;
	transition: all .3s;
	/*background-color: green;*/
	/*border-radius: 5px;*/
}
#navCategory ul.socialMenu li a:hover{
	color: #fff;
}




                                       /*product style*/
.product{
	width: 32%;
	height: auto;
	min-height: 250px;
	/*background-color: #333;*/
	float: right;
	margin-right: 1%;
	margin-bottom: 1%;
	overflow: hidden;
	border-radius: 5px;
}
.productHeaderThumb{
	/*background-image: url(../img/slider1.jpg);*/
	height: 165px;
	/*background-color: #111;*/
	/*background-size: cover;*/
}
.productHeaderThumb img{
	width: 100%;
	height: 160px;
}
.productInfo{

	box-sizing: border-box;
	position: relative;
	text-align: justify;
	z-index: 1;
}
.productInfo:before{
	width: 140%;
	height: 150px;
	background-color: #444;
	content: '';
	display: block;
	position: absolute;
	top: -20px;
	left: -20%;
	-o-transform: rotate(-6deg);
	transform: rotate(-6deg);
	z-index: -1;
}
.productInfoAction{
	position: absolute;
	top: -50px;
	width: 80%;
	text-align: right;
	right:  10%;

}
.details{
	border-radius: 20px;
	text-transform: uppercase;
	font-size: 10pt;
	font-weight: bold;
	height: 40px;
	min-width: 40px;
	width: auto;
	background-color: #c63d56;
	border: none;
	color: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.4);
	transition: all 0.3s;
	cursor: pointer;

}
.details:before{
	background-color: #fff;
	color: #c63d56;
	padding: 0px;
	transition: all 0.1s;

}
.details:hover{
	background-color: #a33245;
}
.productInfoTitle{
	padding: 0px 20px 0px;
	font-size: 1.2em;
	font-weight: bold;
	z-index: 1;
	color: #c63d56;
	display: block;
	text-align: right;
	font-size: 15pt;

}
.productInfoDesctiption{
	margin-top: 10px;
	padding: 20px;
	color: #fff;
	padding-top: 0px;
	text-align: right;
	font-size: 10pt;
}










                                  /*view.php style*/








                                   /*main style*/



#main .category{
	width: 24%;
	/*background-color: red;*/
	float: right;
	/*height: 1000px;*/
}
#main .category h3{
	padding: 8px 15px;
}
#main .category ul{
	/*background-color: blue;*/
}
#main .category ul li{
}
#main .category ul li a{
	display: block;
	/*background-color: green;*/
	padding: 8px;
	/*border-bottom: 1px solid #444;*/
	transition: all .3s;
}
#main .category ul li a:hover{
	background-color: #ccc;
}
#main .productVideo{
	width: 75%;
	height: auto;
	min-height: 450px;
	background-color: #999;
	float: left;
	margin-right: 1%;
	/*overflow: hidden;*/
}
#main .productImgs{
	width: 75%;
	height: auto;
	margin: 1% 0;
	/*min-height: 450px;*/
	/*background-color: #999;*/
	float: left;
	
	overflow: hidden;
}
#main .productImgs img:last-child{
	margin-right: 0;
}
#main .productImgs img{
	float: left;
	width: 32.66%;
	height: 150px;
	margin-right: 1%;
}
#main .detailsProduct{
	width: 75%;
	float: left;
	padding: 10px 20px;
	line-height: 30px;
}
#main .detailsProduct .btnBuy{
	margin-top: 10px;
	border: none;
	width: 30%;
	height: 40px;
	background-color: #937;
	cursor: pointer;
	transition: all 0.3s;
	border-radius: 5px;
}
#main .detailsProduct .btnBuy:hover{
	background-color: #095;
}




#likeProducts{
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 1%;
	background-color: #396314;
}
#likeProducts h3{
	padding: 10px;
}


                                   /*footer style*/


#footer{
	width: 100%;
	height: 200px;
	background-color: #000;
}

